*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 88vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color:transparent;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    padding: 40px 0 20px 0;
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
}

.nav-center h4{
    font-weight: 300;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: 0 20px;
}

.container-flex h2{
    width: fit-content;
    color: white;
    background-color: black;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 3rem;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}



